requests==2.16.0
beautifulsoup4==4.10.0
lxml==4.6.3
Pillow==8.3.2
urllib3==1.21.1
sys
subprocess
pkg_resources
PyPDF2==1.26.0
logging
os
sys
requests==2.26.0
bs4==0.0.1
decimal
smtplib
getpass
pathlib
socket
